* {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Ajustar al tamaño de la ventana */
    /*overflow: hidden;*/
    /* justify-content: space-between;*/
}


/* Estilos para la imagen dentro del header */
header img {
    height: 40px;
    margin-left: 2%;
    margin-right: 2%;

    /* Ajusta la altura de la imagen */
}

#instructions {
    position: absolute;
    left: 1%;
    top: -21%;
    transform: translateY(50%);
    font-size:15px;
    /* Ajusta el tamaño de la fuente según sea necesario */
    text-align: center;
    line-height: 1;
    /* Ajusta el espacio entre líneas */
    max-width: 19%;

    /* Limita el ancho del bloque */
    white-space: pre-wrap;
    /* Permite el ajuste de línea */
}

#score {
    position: absolute;
    left: 80%;
    top: 25%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 20px 5px;
    max-width: 19%;
    /* Limita el ancho del bloque */

}

#lifes {
    position: absolute;
    left: 80%;
    top: 70%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 20px 10px;
    max-width: 19%;
    /* Limita el ancho del bloque */

}

#puntaje {
    position: absolute;
    left: 80%;
    top: 55%;
    transform: translateY(-50%);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px 10px;
    max-width: 19%;
    /* Limita el ancho del bloque */

}

#maxScore {
    position: absolute;
    left: 80%;
    top: 40%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 20px 10px;
    max-width: 19%;
    /* Limita el ancho del bloque */

}



#canvas-container {
    position: relative;
    width: 600px;
    height: 400px;
    margin: auto;

}


#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: none;

    background-size: cover;
    background-position: center;

    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 24px;
    background-color: #340202;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#gameOverMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    display: none;
}

#gameWinMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    display: none;
}

#gameOverMessage h1 {
    font-size: 30px;
}

#gameOverMessage p {
    font-size: 20px;
}