* {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Ajustar al tamaño de la ventana */
    overflow: hidden;
    background-color: #92e991;
    cursor: url("images\cursor.png"), auto;   /* Con posición */

}


header, footer {
    background-color: #e23d3d;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #410404;
    border-bottom: 2px solid #410404;
}

#canvas-container {
    position: relative;
    width: 600px; /* Tamaño del contenedor del canvas */
    height: 400px;
    margin: auto;

}



#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */

    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

